/**
My CSS Library
URI : https:://github.io/mdhafizalasad/my-css-library
Author: Asad
version: 1.0.0
**/

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.d-inline-block {
  display: inline-block;
}

 .m-0 {
  margin: 0;
 }

.mt-16 {
  margin-top: 16px;
}

.mt-24 {
  margin-top: 24px;
}

.mb-24 {
  margin-bottom: 24px;
}


.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-start {
  justify-content: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.gap-24 {
  gap: 24px;
}

.gap-16 {
  gap: 16px;
}

.color-white {
  color: #ffffff;
}

.color-blue {
  color: blue;
}

.color-yellow {
  color: yellow;
}

.fs-70 {
  font-size: 70px;
}

.title-1 {
  font-size: 60px;
  font-weight: 800;
}

.fw-regular {
  font-weight: 400;
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}