.flag-box {
  width: 800px;
  height: 500px;
  /* background: green; */
}

.flag-circle{
  width: 200px;
  height: 200px;
}


.our-custom-accordion .accordion-item + .accordion-item {
  margin-top: 24px;
}

.our-custom-accordion .accordion-item {
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 10px;
}

.our-custom-accordion .accordion-header{
 padding: 16px 16px 16px 20px;
}

.our-custom-accordion .accordion-header a{
 font-size: 24px;
 display: block;
 font-weight: 700;
 color: #000000;
 text-decoration: none;
 position: relative;
}

.our-custom-accordion .accordion-header a i {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateX(-50%);
  font-size: 15px;
  width: 24px;
  height: 24px;
  background-color: green;
  border-radius: 50%;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.our-custom-accordion .accordion-header a.collapsed i {
  transform: translateY(-50%) rotate(180deg);
}

.custom-slider-control{
  position: initial;
  margin-top: 24px;
  gap: 15px;
}

.custom-slider-control img{
  border-radius: 50%;
  width:100px;
  height: 100px;
  object-fit: cover;
}

.carousel-item img{
  width:100%;
  /* height: 700px; */
  object-fit: cover;
}

.product-slider {
  display: flex;
  gap: 24px;
}

.product-slider .carousel-indicators {
  position: initial;
  margin: 0;
  gap: 24px;
  flex-direction: column;
}

.product-slider .carousel-indicators a{
  width:200px;
  height: 121px;
  border: 2px solid transparent;
  transition: 0.3s;
}

.product-slider .carousel-indicators a.active{
  border-color: green;
  padding: 4px;
}

.product-slider .carousel-indicators img{
  width:100%;
  height: 100%;
  object-fit: cover;
}